header {
  display: flex;
  justify-content: space-between;
  min-height: 15%;
}

.buttons-panel {
  display: flex;
  filter: invert(100%);
  button {

    background-size: cover;
    background-color: transparent;
  }

  .other {
    background-image: url("../../../public/images/other.png");
    width: 30px;
    height: 30px;
    margin-top: 2px;
  }
  .current {
    background-image: url("../../../public/images/pause.png");
    width: 35px;
    height: 35px;
  }
  .next {
    transform: rotate(180deg);
  }
}